:root {
  --color-green: #1F8C6B;
  --color-background: #16161B;
  --color-background-light: #1F1F26;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--color-background);
}

body, input, button, textarea {
  font-family: 'Roboto', sans-serif;
}  

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

header {
  background-color: transparent;
  padding: 24px 100px;
  display: flex;
  justify-content: space-between;
  border-top: 8px solid var(--color-green);
} 

header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

header .btn button {
  font-size: 16px;
  width: 180px;
  height: 56px;
  border: 0;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

header .btn .btn-register {
  background:  var(--color-green);
  color: #fff;
}

header .btn .btn-register:hover {
  opacity: 0.9;
}

@media (max-width: 880px) {
  header {
    padding: 24px 50px;
  }
}

@media (max-width: 510px) {
  header {
    padding: 24px 30px;
    border-top-width: 4px;
  } 

  header .btn button {
    width: 140px;
    height: 42px;
    font-size: 14px;
  }
}

@media (max-width: 414px) {
  .logo {
    width: 90px;
  }
}